:root.theme-light {
  --pink: #ffc2e6;
  --rose: #ff8dcb;
  --light-pink: #fff1f7;
  --black: #353430;
  --accent-color: var(--rose);
  --menu-hover-color: rgba(50, 49, 45, 0.4);

  --font-family: "IBM Plex Mono";
  --font-weight: 400;
  --font-weight-bold: 700;
  --font-size: 18px;
  --line-height: 23.4px;
  --bg-image: url("../images/cover-image-light.png");
  --bg-color: var(--light-pink);
  --button-txt-color: var(--black);
  --menu-focus-color: var(--black);
  --border: 1px solid var(--black);
  --title-color: var(--pink);
  --card-text-color: var(--black);
  --title-decor-txt-color: var(--black);
  --title-decor-bg-color: var(--accent-color);
  --main-title-color: var(--black);
  --text-shadow: 2px 2px 0 var(--accent-color);
}

 .theme-light .header__rec,
.theme-light .header__rec::after {
    display: none;
  }

@media (prefers-color-scheme: light) {
  :root {
    --pink: #ffc2e6;
    --rose: #ff8dcb;
    --light-pink: #fff1f7;
    --black: #353430;
    --accent-color: var(--rose);
    --menu-hover-color: rgba(50, 49, 45, 0.4);

    --font-family: "IBM Plex Mono";
    --font-weight: 400;
    --font-weight-bold: 700;
    --font-size: 18px;
    --line-height: 23.4px;
    --bg-image: url("../images/cover-image-light.png");
    --bg-color: var(--light-pink);
    --button-txt-color: var(--black);
    --menu-focus-color: var(--black);
    --border: 1px solid var(--black);
    --title-color: var(--pink);
    --card-text-color: var(--black);
    --title-decor-txt-color: var(--black);
    --title-decor-bg-color: var(--accent-color);
    --main-title-color: var(--black);
    --text-shadow: 2px 2px 0 var(--accent-color);
  }

  .theme-auto .header__rec,
  .theme-auto .header__rec::after {
    display: none;
  }
}
